@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: transparent;
}

.navbar {
    top: 5px;
    position: fixed;
}

#navicon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 40px;
    background-color: white;
}

#navtitle {
    font-size: 24px;
    font-weight: bold;
    margin-left: 90px;
    position: relative;
    bottom: 35px;
    cursor: pointer;
}

#navlinks {
    margin-left: calc(100vw - 1010px);
    position: relative;
    bottom: 75px;
}

.navlink {
    margin-left: 00px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 25px 20px 50px;
    width: fit-content;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background-color: rgba(100, 240, 120, 0.1);
    transition: background-color 0.25s;
    display: inline-block;
    line-height: 0px;
}

.navlink:hover {
    background-color: rgba(100, 240, 120, 0.3);
    cursor: pointer;
}

.navlinkicon {
    height: 20px;
    width: fit-content;
    position: relative;
    top: 4px;
}

#accounticon {
    right: 120px;
}

#blogicon {
    right: 90px;
}

#budgetingicon {
    right: 140px;
}

#courseicon {
    right: 115px;
}

#dashboardicon {
    right: 143px;
}

#selectoricon {
    right: 130px;
}

h1 {
    color: white;
}

#tabnavicon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 40px;
    background-color: white;
}

#tabnavtitletext {
    font-size: 24px;
    font-weight: bold;
}

.navlinkiconbody {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(100, 240, 120, 0.1);
    transition: background-color 0.25s;
    display: inline-block;
    margin-left: 5px;
}

.navlinkiconbody:hover {
    background-color: rgba(100, 240, 120, 0.3);
    cursor: pointer;
}

#firstnavicon {
    margin-left: 0px;
}

.tabnavlinkicon {
    height: 20px;
    width: fit-content;
    position: relative;
    top: 10px;
    left: 10px;
}

#tabaccounticon {
    left: 12px;
}

#tabblogicon {
    left: 11.5px;
}

#tabcourseicon { 
    top: 11.5px;
}

#tabselectoricon {
    left: 11.5px;
}

#tabnavlinks {
    margin-left: calc(50vw - 150px);
    position: relative;
    bottom: 25px;
}

#tabnavheader {
    margin-left: calc(50vw - 155px);
}

#landingheader {
    width: 600px;
    font-size: 48px;
    margin-top: 300px;
    margin-left: 100px;
}

#tablandingheader {
    width: 200px;
    font-size: 36px;
    text-align: center;
    margin-left: calc(50vw - 100px);
    margin-top: 150px;
}

#loginicon {
    right: 110px;
}

#signupicon {
    right: 120px;
}

#accountlinks {
    margin-left: 90px;
    margin-top: 25px;
}

#tabaccountlinks {
    margin-left: calc(50vw - 150px);
    margin-top: 40px;
}

#landingimage {
    width: 500px;
    height: 500px;
    background-color: white;
    left: calc(100vw - 600px);
    bottom: 200px;
    position: absolute;
}

#tablandingimage {
    width: 300px;
    height: 300px;
    background-color: white;
    margin-left: calc(50vw - 150px);
    margin-top: 20px;
}

#loginbody {
    width: 300px;
    height: 400px;
    margin-left: calc(50vw - 170px);
    margin-top: 200px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2;
    border-color: gray;
    margin-bottom: 200px;
}

#signupbody {
    width: 300px;
    height: 925px;
    margin-left: calc(50vw - 170px);
    margin-top: 200px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2;
    border-color: gray;
}

#logintitle {
    text-align: center;
    margin-top: 100px;
}

.loginicon {
    height: 20px;
    margin-left: 20px;
    position: relative;
    top: 5px;
    width: fit-content;
    display: inline-block;
}

.logininput {
    width: 225px;
    margin-left: 10px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

#loginsubmit {
    margin-left: 75px;
    margin-bottom: 10px;
    height: 25px;
    font-size: 16px;
    padding: 20px 25px 20px 25px;
    width: 150px;
    border-radius: 30px;
    color: white;
    background-color: rgba(100, 240, 120, 0.1);
    transition: background-color 0.25s;
    line-height: 0;
    text-align: center;
    border-style: none;
}

#loginsubmit:hover {
    background-color: rgba(100, 240, 120, 0.3);
    cursor: pointer;
}